# ESP-IDF specific
build/
sdkconfig
sdkconfig.old
sdkconfig.temp
managed_components/
dependencies.lock

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# GDB history
.gdb_history
.gdbinit

# Local configuration file (contains passwords/sensitive data)
local_settings.py

# Editor folders
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Temporary / Log files
*.log
*.bak
*.tmp
node_modules/
